* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Content */

.container-1,
.container-2,
.container-3{
    width: 700px;
    height: 700px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.difficult{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
    margin-top: 30px;
}

.boxes-100{
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    cursor: pointer;
}

.boxes-81{
    width: calc(100% / 9);
    height: calc(100% / 9);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    cursor: pointer;
}

.boxes-49{
    width: calc(100% / 7);
    height: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    cursor: pointer;
}

.green-cell{
    background-color: rgb(72, 255, 72);
}