* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Content */

.container{
    width: 700px;
    height: 700px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.boxes{
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    border: 1px solid red;
}

.green-cell{
    background-color: rgb(72, 255, 72);
}